
@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');

h1{
    font-family: 'Spicy Rice', cursive;
    color: whitesmoke;
    padding-top: 65px;
    
}

.header{
    background-image: url('./img/nebula-2253941.jpg');
    height: 200px;

}