.creatureWrapper{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
    /* height: 35rem; */
    /* width: 300px; */

    margin: 5px;
}

/* .imageWrapper{
        width: 100%;
    height: 100%;

} */

/* img{
    object-fit: fill;
} */