@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');



.creatureWrapper{
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.card {
    background-color: black;
    color: rgb(163, 51, 191);
    border: 20px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    height: 350px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  h2{
    font-family: 'Spicy Rice', cursive;
    margin: 20px;
    padding-top: 5px;
  }
  
p{
    background-color: black;
    color: white;
    padding-top: 5px;
}

  img{
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  .heartWrapper{
    padding: 5px;
    align-items: end;
  }

  .textWrap{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .myButton {
    position: relative;
    min-height: 70px;
    background-image: linear-gradient(
      to right,
      rgb(103, 58, 183),
      hsl(179, 100%, 30%)
    );
    z-index: 1;
  }
  
  .myButton::before {
    position: absolute;
    border-radius: 5px;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      to bottom,
      rgb(103, 58, 183),
      rgb(236, 64, 122)
  
    );
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }
  .myButton:hover::before {
    opacity: 1;
  }